.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 99;

    &.open {
        opacity: 1;
        pointer-events: all;
    }
}

.modal {
    position: relative;

    background: var(--card-background);
    color: var(--foreground);

    width: 100%;
    max-width: 500px;
    border-radius: var(--border-radius);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    transform: translateY(20px) scale(0.95);
    opacity: 0;
    transition: transform 0.4s ease;

    .modal-overlay.open & {
        transform: scale(1);
        opacity: 1;
    }

    .modal-header {
        margin-bottom: 1rem;
        
        .modal-title {
            font-family: var(--text-mono);
        }

        .modal-subtitle {
            opacity: 0.7;
        }
        
    }
}


.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background: none;
    border: none;
    color: var(--foreground);
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    input,
    textarea {
        background: var(--background);
        color: var(--foreground);
        border: 1px solid var(--foreground);
        border-radius: var(--border-radius-small);
        padding: 0.6rem;
        font-family: var(--text-body);
    }

    textarea {
        resize: none;
    }
}

.error-text {
    font-size: var(--text-xs);
    opacity: 0.7;
    margin-top: 4px;
}

.form-status {
    margin-bottom: 1rem;
    font-size: var(--text-sm);

    &.success {
        opacity: 0.8;
    }

    &.error {
        opacity: 0.8;
    }
}

.submit-btn {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid var(--background);
    background: var(--foreground);
    color: var(--background);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
        background: var(--foreground);
        color: var(--background);
    }
}

/* Mobile */
@media (max-width: 768px) {
    .modal {
        margin: 1rem;
        padding: 1.5rem;
        text-align: left;
    }
}