.experience {
    .experience-list {
        display: flex;
        flex-direction: column;
    }

    .experience-item {
        display: grid;
        grid-template-columns: 28px 1fr;
        column-gap: 0.3rem;
        align-items: stretch;
        padding-top: 0.75rem;
    }

    /* Timeline column */
    .timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* Base box */
    .box {
        width: 13px;
        height: 13px;
        border: 1px solid var(--foreground);
        border-radius: var(--border-radius-small);
        background: var(--background);
        position: relative;
        z-index: 2;
        margin-top: 5px;

        padding: 1px;

        &::after {
            content: "";
            position: absolute;
            inset: 3px;
            background: var(--foreground);
            opacity: 0;
            transform: scale(0.5);
            transition: all 0.2s ease;
        }
    }

    .experience-item:hover .box:not(.box-latest)::after {
        opacity: 1;
        transform: scale(1.3);
    }

    /* Latest experience */
    .box-latest {
        width: 13px;
        height: 13px;
        background: var(--foreground);
        border: none;
        padding: 0;

        &::after {
            display: none;
        }
    }

    .line {
        position: absolute;
        top: 18px; // starts below box
        left: 25%;
        transform: translateX(-50%);
        width: 0.5px;
        height: calc(100% + 1.5rem);
        background: #a4a4a4;
        opacity: 0.8;
    }


    /* Content */
    .content {
        padding-bottom: 0.25rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .job-title {
        font-size: 1rem;
        font-weight: 600;
    }

    .year {
        font-size: 0.8rem;
        opacity: 0.65;
        white-space: nowrap;
    }

    .company {
        font-size: 0.8rem;
        opacity: 0.85;
        width: 80%;
    }
}