.proj {

    .card-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    
        .proj-group {
            padding: 10px 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            box-shadow: var(--box-shadow);

            .proj-title {
                margin-bottom: 5px;
            }
        
            .description {
                background-color: var(--background);
                padding: 5px 15px;
                font-family: var(--text-mono) !important;
                font-weight: 600;
                color: var(--foreground);
            }
        }
    }
}

