.theme-switch {
    position: relative;
    width: 50px;
    height: 30px;
    background: #dbdbdb;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: background 0.3s ease;

    .thumb {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #fff;

        display: grid;
        place-items: center;

        transition: transform 0.3s ease, background 0.3s ease;

        .icon {
            position: absolute;
            display: grid;
            place-items: center;
            transition: opacity 0.2s ease, transform 0.2s ease;
        }

        .sun {
            color: #ffb703;
            opacity: 1;
            transform: scale(1);
        }

        .moon {
            color: #4d4d4d;
            opacity: 0;
            transform: scale(0.5);
        }
    }

    &.dark {
        background: #5b5c5e;

        .thumb {
            transform: translateX(20px);
            background: var(--foreground);

            .sun {
                opacity: 0;
                transform: scale(0.5);
            }

            .moon {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}