#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.main-layout {
  display: grid;
  grid-template-columns:4fr 2fr;
  gap: var(--gap);
}

.footer {
  margin-top: var(--gap);
  padding: 1rem 0;
  text-align: center;
  color: var(--foreground);
  font-size: 1rem;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .main-layout {
    grid-template-columns: 1fr;
    gap: var(--gap);
  }
}