@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");

:root {
  // Color
  --background: #f2f3f2;
  --foreground: #212227;
  --primary: #f90143;

  --text-body: "Geist", sans-serif;
  --text-mono: "Geist Mono", monospace;

  --border-radius: 8px;
  --border-radius-small: 4px;
  --gap: 15px;

  --box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
  --card-background: #fff;

  // Typography Scale
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
}

[data-theme="dark"] {
  --background: #0f0f11;
  // --background: #212227;
  --foreground: #f2f3f2;
  --accent: #f90143;

  --card-background: #080808;

  --box-shadow: 0px 2px 0px 0px rgba(127, 127, 127, 0.722);
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-base {
  font-size: var(--text-base);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

.text-4xl {
  font-size: var(--text-4xl);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
a,
button {
  padding: 0;
  font-family: var(--text-body);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  background-color: var(--background);
}

a, span, button, p {
  font-size: var(--text-base);
}

a {
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.card {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--foreground);
  padding: 20px 1.5rem;
  width: 100%;
  display: inline-block;

  &-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
  
      .view-all {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 0.85rem;
        color: var(--foreground);
        text-decoration: none;
        transition: transform 0.2s ease;
  
        &:hover {
          transform: translateX(2px);
        }
      }
    }

  &-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.hover-translate {
  transition: transform 0.15s ease, box-shadow 0.15s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow);
  }
}

@media (max-width: 768px) {
  .card {
    padding: 15px 1rem;
    gap: 10px;

    &-header {
      align-items: flex-start;

      .view-all {
        margin-top: 5px;
      }
    }

    &-content {
      margin-top: 0;
      gap: 10px;
    }
  }
}